@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Regular.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Medium.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-SemiBold.woff2') format("woff2"), url('../fonts/Rubik/Rubik-SemiBold.woff') format("woff")
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Bold.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Black.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Black.woff') format("woff")
  font-weight: 900
  font-style: normal
  font-display: swap


@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?gfrcse')
  src: url('../fonts/icomoon.eot?gfrcse#iefix') format("embedded-opentype"), url('../fonts/icomoon//icomoon.ttf?gfrcse') format("truetype"), url('../fonts/icomoon//icomoon.woff?gfrcse') format("woff"), url('../fonts/icomoon//icomoon.svg?gfrcse#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

[class^="ic"], [class*=" ic"]
  font-family: 'icomoon'
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

.ic
  &-angle-down:before
    content: "\e900"

  &-delete:before
    content: "\e901"
    color: #C62734

  &-edit:before
    content: "\e902"
    color: #666

  &-marker:before
    content: "\e903"
    color: #d73b85

  &-next:before
    content: "\e904"
    color: #fff

  &-place:before
    content: "\e905"


  &-prev:before
    content: "\e906"
    color: #fff

.icon
  position: relative
  display: inline-block
  width: 28px
  height: 28px
  border-radius: 50%
  vertical-align: middle

  &:after
    content: ''
    position: absolute
    left: 3px
    right: 3px
    bottom: 3px
    top: 3px
    border-radius: 50%
    background: #fff



  &:before
    content: ''
    position: absolute
    width: 28px
    height: 28px
    border-radius: 50%
    z-index: 1

  &-tictok
    &:before
      background: url(../img/tictok.svg) no-repeat
      background-size: cover

  &-instagram
    &:before
      background: url(../img/instagram.svg) no-repeat
      background-size: cover

  &-vk
    &:before
      background: url(../img/vk.svg) no-repeat
      background-size: cover

  &-ok
    &:before
      background: url(../img/ok.svg) no-repeat
      background-size: cover

  &-facebook
    &:before
      background: url(../img/facebook.svg) no-repeat
      background-size: cover

  &-grid
    display: inline-block
    width: 17px
    height: 16px
    border-radius: 0
    background: url(../img/grid.svg) no-repeat
    background-size: cover

  &-user
    display: inline-block
    width: 24px
    height: 24px
    background: url(../img/user.svg) no-repeat
    background-size: cover

  &-basket
    display: inline-block
    width: 24px
    height: 24px
    background: url(../img/basket.svg) no-repeat
    background-size: cover

  &-video
    display: inline-block
    width: 72px
    height: 72px
    border-radius: 50%
    background: url(../img/play-btn.png) no-repeat
    background-size: cover
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16)

  &-clapperboard
    display: inline-block
    width: 28px
    height: 28px
    background: url(../img/clapperboard.svg) no-repeat
    background-size: cover

  &-sale
    display: inline-block
    width: 40px
    height: 54px
    background: url(../img/sale.svg) no-repeat
    background-size: cover


  &-close
    display: inline-block
    width: 26px
    height: 26px
    background: url(../img/close.svg) no-repeat
    background-size: cover

    &:after
      display: none


