@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	height: 900px
	background-image: url(../img/header-img-1.png), url(../img/header-img-2.png), url(../img/header-bg.png)
	background-position: left top, right top, center center
	background-repeat: no-repeat, no-repeat, no-repeat
	transition: all .3s

	&-fixed
		position: fixed
		left: 0
		right: 0
		top: 0
		height: auto
		padding: 0 !important
		z-index: 9999
		transform: translate(0 0)
		background: none

		.header-top, .banner
			display: none

		.header-nav
			margin-bottom: 0




		&+.content
			padding-top: 60px

	&-mobile
		padding-right: 20px
		text-align: right

	&-top
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap


		&__info
			display: flex
			flex-wrap: wrap

			&--item
				margin-right: 36px

				span
					display: block
					font-size: 14px
					line-height: 18px
					color: #E8AC7A

				strong
					display: block
					font-weight: bold
					font-size: 16px
					line-height: 20px
					color: #ddd

				&:last-child
					margin-right: 0

		&__right
			display: flex
			align-items: center
			justify-content: space-between

		&__tel
			margin-left: 30px
			text-align: right

			&--number
				display: inline-block
				margin-bottom: 4px
				font-weight: 900
				font-size: 22px
				line-height: 24px
				letter-spacing: 0.01em
				color: #fff

			span
				display: block
				font-size: 15px
				line-height: 18px
				color: #D7AB98

	&-nav
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		margin-bottom: 38px

		&__btn
			display: flex
			flex-wrap: wrap

			a
				display: flex
				align-items: center
				justify-content: center
				
				border-radius: 69px
				
				

				span
					position: relative
					display: flex
					align-items: center
					height: 60px
					padding: 0 16px 0 12px
					font-weight: bold
					font-size: 16px
					text-align: right
					letter-spacing: 0.01em
					color: #FFFFFF

					&:before
						content: ''
						position: absolute
						width: 1px
						height: 100%
						left: -2px
						top: 0
						bottom: 0


					



	&-login
		background: linear-gradient(180deg, rgba(88, 166, 100, 0.96) 0%, rgba(39, 113, 118, 0.96) 100%)
		box-shadow: 0px 16px 32px rgba(45, 175, 50, 0.32), inset 0px 0px 24px rgba(255, 255, 255, 0.24)

		span
			border-left: 1px solid #2C593E

			&:before
				background: #39AC69

		.icon-user
			margin: 0 12px 0 16px

	&-basket
		margin-left: 26px
		background: linear-gradient(180deg, rgba(213, 104, 89, 0.96) 0%, rgba(201, 144, 59, 0.96) 100%)
		box-shadow: 0px 16px 32px rgba(204, 142, 71, 0.32), inset 0px 0px 24px rgba(255, 255, 255, 0.24)

		span
			border-left: 1px solid #79482C

			&:before
				background: #E78D61

		.icon-basket
			margin: 0 12px 0 24px



.home

	.header
		&-fixed

			&+.content
				padding-top: 960px

			.header
				&-nav
					padding-right: 16px
					background: linear-gradient(180deg, #FFFFFF 0%, #F5E0D1 100%)
					box-shadow: 0px 8px 48px rgba(38, 18, 3, 0.24)
					border-radius: 0px 0px 16px 16px
					margin-bottom: 0

					&__btn 
						a 
							span
								padding: 0 14px 0 10px
								height: 40px
								font-size: 14px
				&-basket
					margin-left: 16px

					.icon-basket
						margin: 0 12px 0 12px

				&-login
					.icon-user
						margin: 0 12px 0 12px

			.main-menu

				>li
					&:first-child 
						a
							padding-left: 22px
							border-radius: 0 0 0 60px

					>a
						padding: 0 16px
						background: transparent
						color: #362116
						box-shadow: none
						border-right: 1px solid #DBC5B6
						border-left: 0

					&:last-child
						a
							border-radius: 0
				.icon-grid
					background: url(../img/grid-black.svg) no-repeat
					


.social
	display: flex
	align-items: center
	list-style: none

	li
		margin-right: 12px

		&:last-child
			margin-right: 0

		a
			display: block
			border-radius: 50%

			&:hover
				opacity: 1
				box-shadow: 0px 5px 20px 0px rgba(209,153,103,1)

		

	
.mobile-menu
	display: none

.main-menu
	display: flex
	flex-wrap: wrap
	list-style: none

	>li
		position: relative
		
		>a
			display: flex
			align-items: center
			justify-content: center
			height: 60px
			padding: 0 18px
			font-weight: 500
			font-size: 14px
			letter-spacing: 0.01em
			color: #FFFFFF
			border-right: 1px solid #6556AA
			border-left: 1px solid #292444
			background: linear-gradient(180deg, rgba(50, 42, 98, 0.96) 0%, rgba(74, 61, 139, 0.96) 100%)
			box-shadow: 0px 16px 32px rgba(46, 32, 117, 0.48), inset 0px 0px 24px rgba(255, 255, 255, 0.24)

			&:hover, &.active
				opacity: 1
				background: linear-gradient(180deg, rgba(217, 55, 44, 0.96) 0%, rgba(159, 62, 20, 0.96) 100%)
				box-shadow: 0px 16px 32px rgba(170, 59, 42, 0.48), inset 0px 0px 24px rgba(255, 255, 255, 0.24)
				border-color: transparent

		&:first-child

			>a
				padding-left: 32px
				border-radius: 60px 0px 0px 60px
				border-left-color: transparent

		&:last-child

			>a
				padding-right: 32px
				border-radius: 0 60px 60px 0
				border-right-color: transparent
		
		&.dropdown
			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				height: 10px
				bottom: -10px
				background-color: transparent
				width: 100%


.drop-1
	display: none
	position: absolute
	min-width: 200px
	top: calc(100% + 6px)
	left: 0
	list-style: none
	padding: 16px 0
	border-radius: 6px
	background: #fff
	z-index: 10

	&:before
		content: ''
		position: absolute
		left: 25%
		top: -6px
		width: 0
		height: 0
		border-left: 6px solid transparent
		border-right: 6px solid transparent
		border-bottom: 6px solid #fff

	li
		padding: 0 16px
		margin-bottom: 16px

		&:last-child
			margin-bottom: 0

		a
			display: block
			font-weight: 500
			font-size: 14px
			line-height: 16px
			color: #362116

			&:hover
				opacity: 1
				color: $main

		&.dropdown
			&:before
				content: ''
				position: absolute
				right: -10px
				top: 0
				bottom: 0
				width: 10px
				height: 100%
				background-color: transparent
				width: 100%


.drop-2
	display: none
	position: absolute
	min-width: 110px
	top: -20px
	left: calc(100% + 6px)
	list-style: none
	padding: 16px
	border-radius: 6px
	background: #fff
	z-index: 10
	
	&:before
		content: ''
		position: absolute
		right: calc(100% + 0px)
		top: 23px
		width: 0
		height: 0
		border-top: 6px solid transparent
		border-bottom: 6px solid transparent
		border-right: 6px solid #fff





		

.banner
	position: relative
	margin: 0 auto
	max-width: 1600px


	&-item
		position: relative
		display: flex
		flex-wrap: wrap
		padding: 0 120px
		background: url(../img/paper-background.png) no-repeat
		background-size: cover
		box-shadow: 0px 4px 64px rgba(191, 135, 92, 0.32)
		border-radius: 16px

		&__info
			max-width: 800px
			height: 500px
			display: flex
			flex-direction: column
			justify-content: center
			position: relative
			z-index: 1


			.h1
				margin-bottom: 8px
				color: #fff
				text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.64)

			p
				margin-bottom: 36px
				font-size: 16px
				line-height: 140%
				color: #FFEBE4
				text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.64)

			&--btn
				display: inline-flex
				align-items: flex-end
				

				.btn
					position: relative
					padding: 25px 60px
					display: flex
					align-items: center
					text-transform: uppercase
					z-index: 10

					.icon-clapperboard
						position: relative
						top: -3px
						margin-left: 10px

				>span
					position: relative
					left: -30px
					height: 75px
					display: flex
					align-items: center
					padding: 0 30px 0 42px
					font-weight: bold
					font-size: 16px
					line-height: 140%
					color: #CFA095
					text-shadow: 1px 1px 0px #2C140E
					border-radius: 0 76px 76px 0
					background: #442923
					z-index: 0


		&__video
			position: absolute
			right: 120px
			top: 0
			bottom: 0
			margin: auto
			display: flex
			align-items: center

			&--block
				position: relative

				&:before
					content: ''
					position: absolute
					left: 0
					right: 0
					top: 0
					bottom: 0
					background: linear-gradient(107.56deg, #975320 0%, rgba(255, 255, 255, 0) 100%)
					border-radius: 12px

			&--btn
				position: absolute
				width: 72px
				height: 72px
				left: 0
				right: 0
				bottom: 0
				top: 0
				margin: auto


.slick-dots
	bottom: -48px
	z-index: 10

	li
		margin: 0 8px

		button
			width: 20px
			height: 20px
			border-radius: 50%
			border: 4px solid #7D71AC

			&:before
				display: none

		&.slick-active
			button
				width: 24px
				height: 24px
				background: #554B8F
				box-shadow: 0px 1px 0px #5141A6

		


.inner
	background-color: #FDFAF2

	&-info

		.header
			height: auto
			background: transparent

			&-fixed

				&+.content
					padding-top: 60px


			.container
				max-width: 1220px

			&-top

				&__tel

					&--number
						margin: 0
						font-weight: 500
						font-size: 14px
						line-height: 26px
						letter-spacing: 0.01em
						color: #BA5631

			&-nav
				padding-right: 16px
				background: linear-gradient(180deg, #FFFFFF 0%, #F5E0D1 100%)
				box-shadow: 0px 8px 48px rgba(38, 18, 3, 0.24)
				border-radius: 0px 0px 16px 16px
				margin-bottom: 0

				&__btn 
					a 
						span
							padding: 0 14px 0 10px
							height: 40px
							font-size: 14px
			&-basket
				margin-left: 16px

				.icon-basket
					margin: 0 12px 0 12px

			&-login
				.icon-user
					margin: 0 12px 0 12px

		.main-menu

			>li
				&:first-child 
					a
						padding-left: 22px
						border-radius: 0 0 0 60px

				>a
					padding: 0 16px
					background: transparent
					color: #362116
					box-shadow: none
					border-right: 1px solid #DBC5B6
					border-left: 0

				&:last-child
					a
						border-radius: 0
			.icon-grid
				background: url(../img/grid-black.svg) no-repeat

	.section
		padding-top: 70px

		h1, .h1
			margin-bottom: 48px
			font-size: 36px
			line-height: 42px
			letter-spacing: 0.02em
			text-transform: uppercase
			color: #251C1A
			text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8)

			span
				padding: 12px 16px
				background: linear-gradient(180deg, #F1D4B3 0%, #FACA95 100%)
				border-radius: 12px

	.content
		padding-top: 0

	&-basket
		
		
		.header
			height: auto
			background: transparent

			.container
				max-width: 1000px

		.content
			.container
				max-width: 1000px


.btn
	display: inline-block
	padding: 19px 64px
	letter-spacing: 0.01em
	color: #FFFFFF
	text-shadow: 0px 0px 6px rgba(114, 45, 19, 0.24)
	font-weight: 900
	font-size: 20px
	line-height: 24px
	background: linear-gradient(180deg, #CC8E55 0%, #A9210F 100%)
	box-shadow: 0px 6px 0px #3F0E07, 0px 16px 40px rgba(177, 61, 35, 0.4), inset 0px 0px 12px rgba(255, 255, 255, 0.24)
	border-radius: 59px
	border: 0
	outline: none

	&:hover, &:focus
		color: #fff
		opacity: 1
		box-shadow: none
		outline: none !important
		border: 0

	&:active
		position: relative
		top: 1px
		box-shadow: none
		opacity: 1
		outline: none
		border: 0
		background: linear-gradient(180deg, #CC8E55 0%, #A9210F 100%)
		color: #fff


	&-black
		padding: 16px 36px
		background: #251915
		color: #fff
		font-size: 16px
		line-height: 18px
		letter-spacing: 0.01em
		color: #FFFFFF
		text-shadow: 0px 0px 6px rgba(114, 45, 19, 0.24)
		box-shadow: none

	&-transparent
		padding: 11px 16px
		background: transparent
		box-shadow: none
		text-shadow: none
		font-weight: bold
		font-size: 16px
		line-height: 20px
		color: #443A77
		border: 2px solid
		border-radius: 41px

		&:hover
			color: #fff
			background: #443a77
			opacity: 1
		
	&-green
		padding: 11px 60px
		font-size: 16px
		line-height: 32px
		color: #fff
		font-weight: bold
		background: linear-gradient(180deg, rgba(88, 166, 100, 0.96) 0%, rgba(39, 113, 118, 0.96) 100%), #FFFFFF
		box-shadow: inset 0px 0px 24px rgba(255, 255, 255, 0.24)

		&:hover, &:focus
			color: #fff
			background: linear-gradient(270deg, #58A664 0%, #277176 100%)
			opacity: 1

		&:active
			position: relative
			top: 1px
			opacity: 1
			background: linear-gradient(180deg, rgba(88, 166, 100, 0.96) 0%, rgba(39, 113, 118, 0.96) 100%), #FFFFFF
	

.product
	padding-bottom: 32px

	&-header
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		margin-bottom: 48px

	.h2

		span
			display: inline-block
			padding: 12px 16px
			text-transform: uppercase
			background: linear-gradient(180deg, #F1D4B3 0%, #FACA95 100%)
			border-radius: 12px

	&-all
		display: inline-block
		padding: 8px 12px
		height: 100%
		color: #220948
		line-height: 24px
		background: #E3E3F7
		box-shadow: 0px 2px 0px #AEAED6
		border-radius: 12px




	&-wrap
		display: flex
		flex-wrap: wrap

		&.row
			margin-left: -22px
			margin-right: -22px

			[class^='col']
				padding-left: 22px
				padding-right: 22px

	&-item
		min-height: 694px
		margin-bottom: 48px
		background: linear-gradient(180deg, #2C211E 23.96%, #54342E 100%)
		border-radius: 16px

		
		&__btn
			position: relative
			top: -4px
			height: 64px

			.btn
				padding: 18px 60px
				box-shadow: 0px 4px 0px #5E1409, 0px 16px 40px rgba(177, 61, 35, 0.4), inset 0px 0px 12px rgba(255, 255, 255, 0.24)

			.count
				display: none

			&.active
				.btn
					display: none

				.count
					display: flex

		&__img
			position: relative

			a
				display: block

			img
				display: block
				border-radius: 16px

		&__tag
			position: absolute
			left: 16px
			top: 16px
			z-index: 1

		&__info
			padding: 16px 12px 32px

		&__text
			height: 130px
			margin-bottom: 24px
			overflow: hidden

			p
				height: 66px
				overflow: hidden
				font-size: 16px
				line-height: 22px
				color: #FFEBE4


		&__name
			height: 52px
			overflow: hidden
			margin-bottom: 12px
			font-weight: bold
			font-size: 18px
			line-height: 25px
			letter-spacing: 0.2px
			color: #fff
			text-transform: uppercase

			a
				color: #fff

		&__weight
			display: inline-flex
			flex-wrap: wrap
			padding: 1px
			margin-bottom: 24px
			background: #251815
			border-radius: 113px

			&--item

				input[type='radio']
					display: none

					&+label
						padding: 13px 22px
						border-radius: 113px
						font-weight: bold
						font-size: 16px
						line-height: 20px
						display: flex
						align-items: center
						color: #8A7168
						cursor: pointer

					&:checked
						&+label
							background: #3F302D
							color: #fff
		&__bottom
			display: flex
			align-items: center
			flex-wrap: wrap
			background: #442923
			border-radius: 76px

		&__price
			display: flex
			flex-direction: column
			justify-content: center
			width: calc(100% - 180px)
			padding: 7px 0 7px 22px

			&--current
				font-weight: 900
				font-size: 30px
				line-height: 32px
				color: #FFC977
				text-shadow: 0px 3px 16px rgba(255, 201, 119, 0.24), 1px 1px 0px #966213

			&--old
				span
					display: inline-flex
					position: relative
					font-weight: 900
					font-size: 18px
					line-height: 20px
					color: #fff
					text-align: right

					&:before
						content: ''
						position: absolute
						left: 0
						right: 0
						width: 100%
						top: 45%
						height: 2px
						width: 100%
						background: #9D6819

			&--new
				font-weight: 900
				font-size: 30px
				line-height: 30px
				color: #F9664B
				text-shadow: 0px 3px 16px rgba(218, 59, 29, 0.24), 1px 1px 0px #C6361A



			
	
	&-filter
		display: flex
		align-items: center

		span
			font-size: 15px
			line-height: 24px
			color: linear-gradient(180deg, #2C211E 23.96%, #54342E 100%)
			text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6)

		a
			display: inline-block
			margin-left: 16px
			padding: 4px 8px
			font-size: 15px
			line-height: 24px
			color: #FFFFFF
			background: linear-gradient(180deg, #CC8E55 0%, #A9210F 100%), #E6E6E6
			box-shadow: 0px 2px 0px #5E1409, 0px 16px 20px rgba(177, 61, 35, 0.24), inset 0px 0px 6px rgba(255, 255, 255, 0.24)
			border-radius: 4px

			&.active
				background: #F6E2D4
				box-shadow: none
				color: #000




.bg

	&-cheesecake
		background: url(../img/bg-cheesecake.png) no-repeat center
		background-size: cover

	&-dessert
		background: url(../img/bg-dessert.png) no-repeat center
		background-size: cover


	&-bread
		background: url(../img/bg-bread.png) no-repeat center top
		

	&-mushroom-pie
		background: url(../img/bg-mushroom-pie.png) no-repeat center
		background-size: cover

	&-apple-pie
		background: url(../img/bg-apple-pie.png) no-repeat center
		background-size: cover

	&-sets
		background: url(../img/bg-sets.png) no-repeat center
		background-size: 100% 100%

	&-ossetian-pie
		background: url(../img/bg-ossetian-pie.png) no-repeat center
		background-size: cover

	&-beverages
		background: url(../img/bg-beverages.png) no-repeat center



.count
	display: flex
	align-items: center
	justify-content: space-between
	flex-wrap: wrap
	width: 180px
	background: #72443B
	border-radius: 59px

	&-btn
		display: flex
		align-items: center
		justify-content: center
		padding: 0
		width: 64px
		height: 64px
		background: linear-gradient(180deg, #CC8E55 0%, #A9210F 100%)
		box-shadow: 0px 4px 0px #5E1409, 0px 16px 40px rgba(177, 61, 35, 0.4), inset 0px 0px 12px rgba(255, 255, 255, 0.24)
		border-radius: 59px
		outline: none
		border: 0

		span
			font-weight: 900
			font-size: 32px
			line-height: 24px
			color: #FFFFFF
			text-shadow: 0px 0px 6px rgba(114, 45, 19, 0.24)

	input
		width: 50px
		font-weight: 900
		font-size: 32px
		line-height: 36px
		outline: none
		border: none
		background-color: transparent
		text-align: center
		color: #fff


.color

	&-red
		color: #EA4472

	&-green
		color: #3E9A78


.app

	&-wrap
		position: relative
		padding: 60px 48px
		margin-top: 20px
		margin-bottom: 160px
		background: linear-gradient(180deg, #F0F0F0 0%, #FFF1EA 100%)
		border-radius: 16px

		&:before
			content: ''
			position: absolute
			right: -100px
			bottom: -98px
			width: 794px
			height: 560px
			background: url(../img/cat-1.png) no-repeat
			background-size: cover

		.h1
			margin-bottom: 36px

	&-btn
		display: flex
		flex-wrap: wrap

		a
			margin-right: 20px

.subscription
	box-shadow: 0px -12px 48px rgba(0, 0, 0, 0.12)
	background: #fff

	&-wrap
		display: flex
		justify-content: center
		align-items: center
		padding: 22px 0


		span
			padding-right: 76px
			font-size: 20px
			line-height: 22px
			letter-spacing: 0.2px
			color: #000000

	&-form
		position: relative
		max-width: 408px
		width: 100%
		input
			width: 100%
			height: 52px
			padding: 0 190px 0 16px
			font-weight: 500
			font-size: 16px
			line-height: 16px
			background: #FFFFFF
			border: 1px solid #EBEBEB
			border-radius: 12px 30px 30px 12px
			outline: none

		.btn
			position: absolute
			right: 0
			top: 0



.footer
	padding-bottom: 32px
	background: url(../img/footer-bg.jpg) no-repeat
	background-size: cover

	&-wrap
		padding: 100px 0
	
	&-links
		padding-bottom: 20px

		&__header
			margin-bottom: 24px
			color: #FFC977
			font-weight: bold
			font-size: 28px
			line-height: 32px

		ul
			list-style: none

			li
				display: inline-block
				margin-right: 16px
				margin-bottom: 12px

				a
					font-size: 20px
					line-height: 22px
					letter-spacing: 0.2px
					color: #FFEBE4

					&:hover
						opacity: 1
						color: #FFC977

	&-bottom
		display: flex
		justify-content: space-between
		align-items: center



	&-copy
		display: flex
		flex-wrap: wrap
		span
			margin-right: 35px
			color: #BB8228
			font-size: 14px
			line-height: 18px

		a
			color: #BB8228
			font-size: 14px
			line-height: 18px

	&-dev
		display: flex
		align-items: center
		opacity: .3

		span
			padding-right: 15px
			font-size: 14px
			line-height: 18px
			display: flex
			align-items: center
			color: #fff

		img
			display: block
			
		&:hover
			opacity: 1

	&-app
		display: flex

		a
			margin-right: 12px
			opacity: .3

			&:hover
				opacity: 1


.category

	.header
		height: auto
		padding-bottom: 10px

		&-fixed
			&+.content
				padding-top: 327px

			.header
				&-nav
					padding-right: 16px
					background: linear-gradient(180deg, #FFFFFF 0%, #F5E0D1 100%)
					box-shadow: 0px 8px 48px rgba(38, 18, 3, 0.24)
					border-radius: 0px 0px 16px 16px
					margin-bottom: 0

					&__btn 
						a 
							span
								padding: 0 14px 0 10px
								height: 40px
								font-size: 14px
				&-basket
					margin-left: 16px

					.icon-basket
						margin: 0 12px 0 12px

				&-login
					.icon-user
						margin: 0 12px 0 12px

			.main-menu

				>li
					&:first-child 
						a
							padding-left: 22px
							border-radius: 0 0 0 60px

					>a
						padding: 0 16px
						background: transparent
						color: #362116
						box-shadow: none
						border-right: 1px solid #DBC5B6
						border-left: 0

					&:last-child
						a
							border-radius: 0
				.icon-grid
					background: url(../img/grid-black.svg) no-repeat				

	.content
		background: url(../img/category-bg.jpg) no-repeat center top

	&-establishments
		.content
			background: #FEFBF5

.content
	padding-top: 48px

	&-wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		padding-top: 55px
		padding-bottom: 100px

	&-main
		width: calc(100% - 300px)
		padding: 38px 48px 56px
		background: #FFFFFF
		mix-blend-mode: normal
		box-shadow: 0px 12px 48px rgba(126, 74, 63, 0.16)
		border-radius: 16px


.sidebar
	width: 270px
	height: 100%
	padding: 12px
	background: linear-gradient(180deg, #FFFFFF 0%, #F5E0D1 100%), #FFC977
	border: 1px solid #DCBF9E
	backdrop-filter: blur(20px)
	border-radius: 16px

	&-mobile__btn
		display: none
		outline: 0
		border: none
		background-color: transparent
		font-size: 30px
		color: #83584f


	&-menu
		margin-bottom: 4px
		list-style: none

		li
			margin-bottom: 4px

		a
			display: inline-block
			padding: 22px 18px
			border-radius: 57px
			font-size: 16px
			line-height: 20px
			color: #4A2A23

			&.active
				background: #FAE1D1
				border-radius: 16px

		&__exit
			border-top: 1px solid #DCBF9E

			a
				color: #BE6356



.bonus

	.h4
		margin-bottom: 28px

	&-info
		display: flex
		flex-wrap: wrap
		margin-bottom: 22px

	&-level
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		width: 72px
		height: 68px
		margin-right: 12px
		background: linear-gradient(180deg, #58A664 0%, #277176 100%)
		border-radius: 12px

		strong
			width: 36px
			height: 36px
			display: flex
			align-items: center
			justify-content: center
			text-shadow: 1px 1px 0px #196D4D
			font-weight: 900
			font-size: 24px
			line-height: 16px
			border-radius: 50%
			color: #fff
			background: rgba(255, 255, 255, 0.1)


		span
			font-size: 12px
			line-height: 16px
			color: #fff

	&-chip
		position: relative
		height: 68px
		padding: 23px 16px
		display: flex
		align-items: center
		font-weight: 900
		font-size: 20px
		line-height: 22px
		color: #4A2A23
		background: linear-gradient(180deg, #F1D4B3 0%, #FACA95 100%)
		border-radius: 12px




	&-table
		width: 100%
		border-collapse: collapse

		tr
			td
				padding: 18px 16px

				&:first-child
					border-radius: 50px 0 0 50px

				&:last-child
					border-radius: 0 50px 50px 0

		thead
			
			tr
				td
					background: #83584F
					color: #fff
					font-weight: 600

		tbody
			
			tr
				td
					font-size: 14px
					color: #444

					&:last-child
						color: #000


				&:nth-child(even)
					td
						background: #FBF2EC

		.color-red
			color: #BE6356







.history

	&-item
		margin-bottom: 24px
		border: 1px solid #E5E5E5
		border-radius: 12px
		&__header
			position: relative
			padding: 16px 50px 16px 16px
			background: #FFFFFF
			border-radius: 12px
			font-size: 16px
			line-height: 18px
			cursor: pointer

			&:before
				content: '\e900'
				position: absolute
				right: 20px
				top: 18px
				font-family: icomoon
				font-size: 7px
				color: #000



		&__body
			display: none
			padding: 0 0 16px

			.row
				width: 100%
				margin: 0

			.col-lg-8
				width: 60%

			.col-lg-4	
				width: 40%



		&.active

			.history

				&-item

					&__header
						background-color: transparent

						&:before
							transform: rotate(-180deg)

					&__body
						display: flex
						flex-wrap: wrap


	&-order
		&__item
			position: relative
			display: flex
			flex-wrap: wrap
			margin-bottom: 32px
			background: #fff

			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: -15px
				width: 100%
				height: 1px
				background: #EAEAEA

			&:last-child
				margin-bottom: 0
				&:before
					display: none

		&__img
			width: 156px
			display: flex
			align-items: center
			justify-content: center
			padding: 5px

		&__info
			width: calc(100% - 156px)
			padding: 14px 15px
			&--bottom
				display: flex
				justify-content: space-between
				align-items: center
				max-width: 260px

				strong
					font-size: 14px
					line-height: 18px

		&__name
			display: flex
			align-items: center
			margin-bottom: 12px
			font-weight: bold
			font-size: 20px
			line-height: 24px

		&__price
			font-weight: bold
			font-size: 14px
			line-height: 16px


		&__count
			font-weight: bold
			font-size: 14px
			line-height: 18px

		&__total
			font-size: 20px
			line-height: 22px
			color: #000



	&-data
		padding-top: 20px

		&__list
			padding-bottom: 8px
			list-style: none

			li
				display: flex
				justify-content: space-between
				flex-wrap: wrap
				margin-bottom: 8px
				font-size: 16px
				line-height: 20px
				color: #333333

		&__total
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			align-items: center
			padding: 16px 0
			border-top: 1px solid #EAEAEA
			color: #000

			span
				
				font-weight: bold
				font-size: 16px
				line-height: 26px

			&--price
				font-weight: bold
				font-size: 24px
				line-height: 26px

				span
					color: #666666
					font-size: 20px
					font-weight: 500


		.btn
			padding-left: 20px
			padding-right: 20px
			width: 100%
			box-shadow: 0px 4px 0px #5E1409, 0px 16px 40px rgba(177, 61, 35, 0.4), inset 0px 0px 12px rgba(255, 255, 255, 0.24)

.address

	.h4
		margin-bottom: 48px
		text-transform: none

	&-table

		&__item
			display: flex
			flex-wrap: wrap
			padding: 36px 0
			border-bottom: 1px solid #EAEAEA

			&--text
				display: flex
				flex-direction: column

			&:first-child
				border-top: 1px solid #EAEAEA

			

			&--info
				position: relative
				width: calc(100% - 62px)
				padding-left: 44px
				display: flex
				align-items: center
				flex-wrap: wrap

				.ic
					position: absolute
					left: 0
					top: 0
					font-size: 40px

				span
					color: #666
					font-size: 14px
					line-height: 18px

				strong
					font-weight: normal
					font-size: 18px
					line-height: 28px
					color: #000

			&--btn
				display: flex
				align-items: center
				flex-wrap: wrap

				button
					padding: 0
					outline: 0
					border: 0
					background-color: transparent
					margin-left: 15px

					&:first-child
						margin: 0

					.ic
						font-size: 18px

						&-delete
							color: #C62734
	&-form
		&__color
			padding-bottom: 24px
			margin-bottom: 24px

			.form-item
				max-width: 370px

		&__fields

			.jq-selectbox
				max-width: 370px

			.form-item
				max-width: 370px

		.form-item__wrap
			max-width: 370px

		.btn
			width: 100%
			max-width: 370px




.color

	&-list
		display: flex
		flex-wrap: wrap
		list-style: none

		input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				width: 36px
				height: 36px
				margin-right: 16px
				cursor: pointer
				border-radius: 50%
				

			&:checked
				&+label
					box-shadow: 0px 0px 0px 5px #D9D9D9
















.catering
	position: relative
	background-image: url(../img/catering-bg.png)
	background-repeat: no-repeat
	background-position: center center

	&.principles
		background-position: center bottom



	&-item
		display: flex
		align-items: center
		flex-wrap: wrap
		margin-bottom: 160px

		.h2
			margin-bottom: 12px
			
		p
			margin-bottom: 36px
			font-size: 18px
			line-height: 26px
			color: #51403B

		.btn
			padding: 19px 82px




.reviews
	
	&-instagram
		margin-bottom: 140px

		.h2
			margin-bottom: 40px
			text-align: center

	&-flamp

		.h2
			margin-bottom: 40px
			text-align: center

		&__block
			img
				border-radius: 16px

	&-slider
		img
			margin: 0 auto

		.slick
			&-arrow
				width: 64px
				height: 64px
				display: flex
				align-items: center
				justify-content: center
				background: linear-gradient(180deg, #CC8E55 0%, #A9210F 100%)
				box-shadow: 0px 4px 0px #3F0E07, 0px 16px 40px rgba(177, 61, 35, 0.4), inset 0px 0px 12px rgba(255, 255, 255, 0.24)
				border-radius: 59px

				&:before
					position: absolute
					font-family: icomoon
					font-size: 24px
					color: #fff
					left: 20px
					top: 20px

			&-next
				right: -80px
				&:before
					content: '\e904'
					
			&-prev
				left: -80px
				&:before
					content: '\e906'


.numbers
	margin-bottom: 80px
	&-item
		padding: 36px 24px
		background: linear-gradient(180deg, #F0F0F0 0%, #FFF1EA 100%)
		border-radius: 16px

		img
			display: block
			margin-bottom: 40px

		.h2
			margin-bottom: 5px

		p
			font-size: 16px
			line-height: 24px
			color: #51403B

.about
	margin: 200px 0

	&-wrap
		position: relative
		padding: 38px 45px
		background: linear-gradient(180deg, #F0F0F0 0%, #FFF1EA 100%)
		border-radius: 16px

		&:before
			content: ''
			position: absolute
			width: 470px
			height: 617px
			top: -128px
			right: -90px
			background: url(../img/cat-2.png) no-repeat
			background-size: contain

		.h2
			margin-bottom: 24px
			text-transform: uppercase

		p
			margin-bottom: 24px
			font-size: 20px
			line-height: 32px
			color: #51403B

			&:last-of-type
				margin-bottom: 0

.promo
	margin-bottom: 100px

	&-item
		position: relative
		height: 246px
		margin-bottom: 30px
		overflow: hidden
		
		

		&__wrap
			position: absolute
			left: 0
			top: 0
			transition: all .3s
			border-radius: 16px
			background: #fff
			


		&__img
			margin-bottom: 10px

			img
				display: block

		.btn
			width: 100%
			padding: 12px 26px
			font-size: 16px
			opacity: 0
			box-shadow: 0px 4px 0px #5E1409, 0px 16px 40px rgba(177, 61, 35, 0.4), inset 0px 0px 12px rgba(255, 255, 255, 0.24)

		&:hover
			overflow: visible
			box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.24)
			border-radius: 16px

			.promo-item__wrap
				padding: 24px
				transform: scale(1.2)
				border-radius: 16px
				background: #fff
				z-index: 10

			.btn
				opacity: 1

.info
	max-width: 952px
	margin: 0 auto

	&-row
		display: flex
		flex-wrap: wrap
		margin-bottom: 50px
		

	&-item
		width: 50%

		&:last-child
			padding-left: 30px

		.h2
			margin-bottom: 22px
			font-size: 28px
			line-height: 36px


		.h4
			margin-bottom: 18px
			font-weight: bold
			color: #000

		p
			margin-bottom: 26px
			color: #555
			font-size: 18px
			line-height: 26px
			color: #555555


			strong
				color: #000

				&.color
					&-red
						color: #E46151

					&-green
						color: #1CAC19

					&-blue
						color: #4285F4

					&-grey
						color: #737373


.form

	&-label
		position: absolute
		left: 16px
		top: 19px
		font-weight: 500
		font-size: 16px
		line-height: 16px
		color: #666
		cursor: text
		transform-origin: top left
		transform: translate(0, 0) scale(1) 
		transition: all .1s ease-in-out
		background-color: transparent
		z-index: 0
		color: #666

	.btn
		box-shadow: 0px 4px 0px #5E1409, 0px 16px 40px rgba(177, 61, 35, 0.4), inset 0px 0px 12px rgba(255, 255, 255, 0.24)

	&-item
		position: relative
		margin-bottom: 24px

		&__wrap
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			
			.form-item
				width: 48%

		&__row
			display: flex
			justify-content: space-between
			flex-wrap: wrap

			.form-item
				width: 47%

				&.width-30
					width: 30%

				&.width-65
					width: 65%

		&__label
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			align-items: center
			margin-bottom: 32px

			label
				font-size: 14px

			&+.btn
				padding: 19px 30px

		&__code
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			margin-bottom: 20px

			.form-item
				width: calc(100% - 160px)
				margin-bottom: 0

			.btn
				box-shadow: none

		&.active
			
			.form-field
				font-weight: 500
				font-size: 16px
				line-height: 16px
				border-color: #B7853B
				

			.form-label
				top: -14px
				padding: 0 5px
				font-size: 12px
				line-height: 14px
				transform: translate(0, 8px)
				color: #B7853B
				
				z-index: 10
				background: #fff

			&.error

				.form-field
					border-color: #E31E24

				.form-label
					color: #E31E24
		textarea
			height: 120px
			padding: 14px 16px
			line-height: normal
			font-weight: 500
			font-size: 16px
			line-height: 16px

	&-field
		position: relative
		background-color: transparent
		width: 100%
		height: 52px
		line-height: 52px
		padding-left: 12px
		border-radius: 12px
		border: 1px solid #EBEBEB
		outline: none
		z-index: 1

		&:hover
			opacity: 1

	&-profile
		max-width: 260px
		margin-bottom: 32px

		.form-field
			height: 48px
			line-height: 48px

	



.personal

	.h4
		margin-bottom: 48px
		text-transform: none

	.form
		max-width: 370px

		.btn
			width: 100%
			padding-left: 20px
			padding-right: 20px



select
	display: none

.jq-selectbox
	position: relative
	width: 100%

	&__select
		width: 100%
			
	.jq-selectbox__select-text
		position: relative
		margin-bottom: 24px
		padding: 15px 30px 14px 18px
		width: 100%
		background: linear-gradient(180deg, #FFFFFF 0%, #F5E0D1 100%)
		border: 1px solid #DCBF9E
		box-sizing: border-box
		border-radius: 66px


		&::after
			content: '\e900'
			position: absolute
			right: 18px
			top: 21px
			font-family: icomoon
			font-size: 9px
			color: #4A2A23
			


	&.opened
		.jq-selectbox__select-text
			color: #000
			&::after
				transform: rotate(180deg)


	&.changed
		.jq-selectbox__select-text
			color: #000

	.jq-selectbox__dropdown
		position: absolute
		top: 50px!important
		left: 0!important
		z-index: 999
		min-width: 100%
		max-width: 100%
		


		ul
			max-height: 145px !important
			list-style: none
			overflow-y: scroll
			border-top: none
			background: #fff
			border: 1px solid #EBEBEB
			border-radius: 12px
			li
				padding: 10px 20px
				font-size: 16px
				line-height: 19px
				color: #666
				border-bottom: 1px solid #EBEBEB
				transition: all .3s

				&:hover
					background: #EBEBEB


			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #EBEBEB


			&::-webkit-scrollbar
				width: 8px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: #999

.establishments

	.product

		&-header
			align-items: center

			.jq-selectbox
				max-width: 370px
				margin: 0

				&__select-text
					margin: 0

	&-wrap

	&-item
		margin-bottom: 47px

		img
			display: block
			margin-bottom: 18px

		&__name
			margin-bottom: 8px
			font-weight: bold
			font-size: 22px
			line-height: 26px
			color: #251915

		&__address
			font-size: 18px
			line-height: 26px
			color: #555555

		&__tel
			display: inline-block
			margin-bottom: 18px
			font-size: 18px
			line-height: 26px

		.btn
			font-weight: bold
			width: 100%
			font-size: 16px
			line-height: 18px
			letter-spacing: 0.01em
			text-shadow: 0px 0px 6px rgba(114, 45, 19, 0.24)


.basket

	&-header
		display: flex
		align-items: center
		justify-content: space-between
		padding-bottom: 56px

		&__step
			position: relative
			display: flex
			justify-content: space-between
			align-items: center
			width: 390px

			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				width: 80%
				margin: 0 auto
				height: 1px
				top: 15px
				border: 1px dashed #DFD5D2

			&--item
				text-align: center

				i
					position: relative
					display: inline-flex
					align-items: center
					justify-content: center
					width: 30px
					height: 30px
					margin-bottom: 4px
					background: #EAEAEA
					border-radius: 59px
					text-align: center
					font-size: 14px
					line-height: 18px

				span
					display: block
					text-align: center
					font-size: 14px
					line-height: 18px
					color: #826A64

				&.active
					i
						background: linear-gradient(180deg, rgba(50, 42, 98, 0.96) 0%, rgba(74, 61, 139, 0.96) 100%), #EAEAEA
						color: #FFF

					span
						color: #000

	&-top
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 56px

		.h2
			display: flex
			align-items: center

			span
				display: inline-block
				padding: 12px 16px
				text-transform: uppercase
				background: linear-gradient(180deg, #F1D4B3 0%, #FACA95 100%)
				border-radius: 12px

			i
				padding-left: 24px
				font-size: 14px
				line-height: 18px
				color: #826A64
				font-weight: normal

		&__right
			display: flex
			flex-wrap: wrap



		&__item
			display: flex
			align-items: center
			margin-right: 60px

			span
				padding-right: 8px
				font-size: 14px
				line-height: 18px
				color: #826A64

			strong
				font-weight: 900
				font-size: 32px
				line-height: 32px
				color: #251915


		&__del
			display: inline-flex
			background-color: transparent
			padding: 0
			outline: none
			border: 0
			font-size: 14px
			line-height: 16px
			color: #826A64

			span
				padding-left: 10px
				width: 60px
				font-size: 14px
				line-height: 16px
				color: #826A64
				text-align: left

	&-table
		display: table
		width: 100%
		border-collapse:separate
		border-spacing: 0 15px

		&__row
			display: table-row
			background: linear-gradient(180deg, #2C211E 23.96%, #54342E 100%)

			&--transparent
				background: transparent

				.basket-table__col
					border-top: 4px solid #251915
					border-bottom: 4px solid #251915

					&:first-child
						border-left: 4px solid #251915

					&:last-child
						border-right: 4px solid #251915

					.basket-table__info--text
						color: #251915

					&.basket-table__col--price
						strong
							padding: 14px
							background: #251915
							border-radius: 12px

			&--gift
				.basket-table__col
					border-top: 4px solid #EA4472
					border-bottom: 4px solid #EA4472

					&:first-child
						border-left: 4px solid #EA4472

					&:last-child
						border-right: 4px solid #EA4472

		&__col
			display: table-cell
			padding: 16px 12px
			border-bottom: 1px solid #EBEBEB
			vertical-align: middle

			

			&:first-child
				width: 55%
				border-radius: 12px 0 0 12px

			&:last-child
				border-radius: 0 12px 12px 0

			&--price
				min-width: 80px
				text-align: right
				font-weight: 900
				font-size: 32px
				line-height: 36px
				color: #FFC977

		&__info
			display: flex
			align-items: center

			&--text
				display: flex
				flex-direction: column
				width: calc(100% - 82px)
				padding-left: 15px
				color: #fff

				strong
					font-size: 18px
					line-height: 26px
					text-transform: uppercase

		&__del
			padding: 0
			font-size: 18px
			color: #E46151
			border: 0
			outline: none
			background-color: transparent






	&-total
		max-width: 470px
		padding: 36px
		background: linear-gradient(180deg, #2C211E 0%, #54342E 100%)
		border: 1px solid #3F302D
		backdrop-filter: blur(20px)
		border-radius: 16px
		color: #FFEBE4

		&__range
			display: flex
			align-items: center
			justify-content: space-between
			margin-bottom: 13px

			span
				font-size: 18px
				line-height: 20px


		&__list
			padding-bottom: 12px
			border-bottom: 1px solid #EAEAEA
			
			ul
				list-style: none

				li
					display: flex
					flex-wrap: wrap
					justify-content: space-between
					margin-bottom: 8px
					font-size: 18px
					line-height: 20px


		.check-item
			margin: 0
			input[type=checkbox]+label
				&:before
					top: 3px
					color: #fff
			a
				color: #fff

				

		&__bottom
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			padding-top: 16px
			margin-bottom: 9px

			strong
				font-weight: bold
				font-size: 24px
				line-height: 26px
				color: #fff



		&__bonus
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			margin-bottom: 20px

			span
				font-size: 18px
				line-height: 20px

			strong
				display: inline-block
				padding: 6px 8px
				background: #D19967
				border-radius: 59px
				color: #4A2A23
				font-size: 18px
				line-height: 20px
				font-weight: bold


		.btn
			padding: 24px 15px
			width: 100%
			text-transform: uppercase

#slider-range
	margin-bottom: 13px

.ui-widget-content
	height: 12px
	border: none
	background: #FFFFFF
	box-shadow: inset 0px 0px 12px rgba(208, 208, 208, 0.8)
	border-radius: 62px

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
	border: none
	width: 30px
	height: 30px
	border-radius: 50%
	background: url(../img/range-handle.png)

.ui-slider-horizontal
	.ui-slider-range
		height: 12px
		background: linear-gradient(180deg, rgba(71, 56, 152, 0.96) 0%, rgba(112, 87, 251, 0.96) 100%)
		box-shadow: 0px 16px 32px rgba(46, 32, 117, 0.48), inset 0px 0px 12px rgba(255, 255, 255, 0.24)
		border-radius: 62px

	.ui-slider-handle
		outline: none
		top: -9px
		margin-left: -.7em
		cursor: pointer

.tabs

	&-nav
		display: inline-flex
		background: #251815
		border-radius: 113px
		list-style: none


		li

			&:last-child
				margin-right: 0

			a
				display: block
				padding: 12px 22px
				font-weight: bold
				font-size: 16px
				line-height: 20px
				color: #8A7168
				border-radius: 113px



				&.active
					color: #fff
					background-color: #3F302D

				&:hover
					color: #fff
					opacity: 1


	&-item
		display: none

		&.active
			display: block

		&__body
			padding: 24px 0 24px

			.radio-list
				max-width: 280px

	&-wrap
		.jq-selectbox
			max-width: 220px

		.radio-list
			max-width: 260px















.toppings
	padding-top: 50px
	padding-bottom: 50px

	.h2
		margin-bottom: 36px

	&-wrap
		display: flex
		flex-wrap: wrap

		[class^='col']
			width: 20%

	&-item
		min-height: 316px
		padding: 8px
		margin-bottom: 30px
		background: linear-gradient(180deg, #2C211E 23.96%, #54342E 100%)
		border: 4px solid #251915
		border-radius: 16px

		&__img
			height: 128px
			display: flex
			align-items: center
			margin-bottom: 16px
			justify-content: center

		&__name
			margin-bottom: 8px
			font-weight: bold
			font-size: 12px
			line-height: 142%
			color: #fff
			text-align: center
			text-transform: uppercase

		&__price
			font-weight: 900
			font-size: 26px
			line-height: 30px
			color: #FFC977
			text-align: center


	.count
		margin: 0 auto 16px
		width: auto
		max-width: 132px

		&-btn
			width: 42px
			height: 42px

			span
				font-size: 24px

		input
			width: 46px
			font-size: 26px


.order
	padding-bottom: 50px

	&-wrap
		position: relative
		display: flex
		flex-wrap: wrap
		justify-content: space-between

	h1, .h1
		margin-bottom: 36px

	&-delivery
		width: 49%

		.h2
			margin-bottom: 50px

			span
				display: inline-block
				padding: 12px 16px
				background: linear-gradient(180deg,#f1d4b3 0,#faca95 100%)
				border-radius: 12px
				font-size: 34px
				text-transform: uppercase

		.h3
			margin-bottom: 18px

	&-total
		position: relative
		width: 48%
		height: 100%

		&:before
			content: ''
			position: absolute
			top: 79%
			right: -162px
			width: 346px
			height: 381px
			background: url(../img/klipartz.png) no-repeat

		.btn
			margin-bottom: 26px


		.basket-total
			position: relative

			


	&-list
		max-width: 590px
		margin: 0 auto 56px
		padding: 30px
		list-style: none
		border: 1px solid #EAEAEA
		border-radius: 12px

		li
			display: flex
			flex-wrap: wrap
			margin-bottom: 16px
			font-size: 16px
			

			span
				min-width: 190px
				color: #666

			strong
				width: calc(100% - 190px)

			&:last-child
				margin-bottom: 0

	&-data
		padding: 40px
		margin-bottom: 56px
		background: linear-gradient(180deg, #2C211E 23.96%, #54342E 100%)
		box-shadow: 0px 8px 48px rgba(38, 18, 3, 0.24)
		border-radius: 12px
		color: #fff

		.h2
			margin-bottom: 16px
			text-align: center
			font-size: 28px
			line-height: 36px
			font-weight: normal
			color: #fff



	&-table
		width: 100%
		border-collapse: collapse

		thead
			tr
				td
					padding-bottom: 13px

		tr
			td
				padding: 10px 15px
				font-size: 14px
				line-height: 16px
				border-bottom: 1px solid #E5E5E5
				text-align: center
				vertical-align: middle

				&:first-child
					max-width: 240px
					padding-left: 0
					text-align: left

					img
						display: inline-block
						vertical-align: middle

					span
						display: inline-block
						padding-left: 16px
						vertical-align: middle

				&:last-child
					padding-right: 0

			&:last-child
					td
						border-bottom: 0

	&-result
		display: flex
		justify-content: center

		.basket-total
			width: 100%


.delivery-new
	display: none
	padding-top: 13px

	&__address
		
		.form-field
			display: none

	.form-item.active .form-label
		background: #fdfaf2

.radio-list
	list-style: none

	&__item
		display: block
		margin-bottom: 18px

		input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				padding: 12px 12px 12px 48px
				cursor: pointer
				font-size: 14px
				line-height: 16px
				background: #FFFFFF
				border: 1px solid #CCCCCC
				border-radius: 12px

				strong
					display: block
					font-size: 14px
					line-height: 18px
					color: #4A2A23

				span
					display: inline-block
					margin-top: 4px
					font-size: 14px
					line-height: 16px
					color: #444

				&::before
					content: ''
					position: absolute
					left: 12px
					top: 12px
					width: 18px
					height: 18px
					display: flex
					align-items: center
					justify-content: center
					background-color: #fff
					border-radius: 0
					border: 1px solid #DA9C40
					border-radius: 50%


			&:checked
				&+label
					background: #F6E2D4
					border: 1px solid #DA9C40

					&:before
						border-color: #4A2A23
					&::after
						content: ''
						position: absolute
						left: 16px
						top: 16px
						width: 10px
						height: 10px
						border-radius: 50%
						background: #4A2A23


.switch
	&-checkbox
		input[type="checkbox"], input[type="radio"]
			display: none
	&-btn
		position: relative
		display: inline-block
		vertical-align: middle
		width: 42px
		height: 24px
		border-radius: 42px
		border: 1px solid #666
		cursor: pointer
		transition-duration: 300ms

		&+span
			display: inline-block
			padding-left: 8px
			vertical-align: middle

		&::after
			content: ""
			position: absolute
			height: 16px
			width: 16px
			border-radius: 50%
			background: #666
			top: 3px
			left: 3px
			transition-duration: 300ms
			z-index: 1

		&.switch-on
			border-color: #C37243

			&::after
				left: 21px
				background: linear-gradient(180deg, #CC8E55 0%, #A9210F 100%)


.check
	list-style: none

	&-item
		display: block
		margin-bottom: 11px
	

		input[type="checkbox"], input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				padding: 0 0 0 26px
				cursor: pointer
				font-size: 14px
				line-height: 18px
				font-weight: normal

				&::before
					content: ''
					position: absolute
					left: 0
					top: -1px
					width: 18px
					height: 18px
					display: flex
					align-items: center
					justify-content: center
					background-color: #fff
					border-radius: 0
					border-radius: 2px


			&:checked
				&+label
					&::before
						content: ''
						background-image: url(../img/check.svg)
						background-position: center
						background-repeat: no-repeat
						background-color: #fff


.succses
	padding-bottom: 80px


	.h2
		margin-bottom: 12px
		text-align: center
		
		span
			display: inline-block
			padding: 12px 16px
			background: linear-gradient(180deg, #F1D4B3 0%, #FACA95 100%)
			border-radius: 12px
			font-weight: bold
			font-size: 36px
			line-height: 42px
			letter-spacing: 0.02em
			text-transform: uppercase
			color: #251C1A

		&+p
			margin-bottom: 12px
			color: #333
			text-align: center

.burger-btn
	display: none
	margin-top: 20px
	width: 36px

	span
		display: block
		width: 100%
		height: 3px
		background: #fff
		margin-bottom: 5px

		&:last-child
			margin-bottom: 0

	&:hover, &:foucs
		opacity: 1

.modal
	display: none
	max-width: 570px
	width: 100%
	padding: 36px
	border-radius: 12px

	.h2
		margin-bottom: 28px

	&-body
		padding: 0

	&-after
		max-width: 476px
		text-align: center

		.h2
			margin-bottom: 4px

		p
			margin-bottom: 24px
			font-size: 20px

		.btn
			width: 100%
			box-shadow: 0px 4px 0px #5E1409, 0px 16px 40px rgba(177, 61, 35, 0.4), inset 0px 0px 12px rgba(255, 255, 255, 0.24)

			&-transparent
				padding-left: 10px
				padding-right: 10px
				box-shadow: none

	&-delivery

		img
			display: block
			margin: 0 auto 20px

			&+p
				margin-bottom: 12px
				color: #000

		&__price
			font-weight: bold
			font-size: 58px
			line-height: 60px
			letter-spacing: 0.02em

			&+p
				color: #444

		.btn-transparent
			margin-top: 24px


	.fancybox-button
		width: 24px
		height: 24px
		padding: 0
		opacity: 1
		right: 16px
		top: 16px


	&-form


		.check-item
			margin-top: 20px

		input[type=checkbox]+label::before, 
		.check-item input[type=radio]+label::before
			background-color: #443A77
			top: 3px
		.check-item input[type=checkbox]:checked+label::before, 
		.check-item input[type=radio]:checked+label::before
			background-color: #443A77
			border-radius: 2px
			background-image: url(../img/check-white.svg)

	.tabs

		&-nav
			position: relative
			display: flex
			padding: 0
			border: 0
			border-radius: 0
			background: #fff

			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: 0
				width: 100%
				height: 1px
				background: #E5E5E5

			a
				
				min-width: 120px
				padding-top: 8px
				padding-bottom: 8px
				border-radius: 6px 6px 0px 0px
				border: 1px solid transparent
				background: #fff
				font-weight: normal
				color: #999

				&:hover
					opacity: 1
					color: #000

				&.active
					position: relative
					background: #fff
					border: 1px solid #EBEBEB
					color: #443A77

					&:before
						content: ''
						position: absolute
						left: 0
						right: 0
						bottom: -1px
						width: 100%
						height: 1px
						background: #fff
						z-index: 10


		&-item
			&__body
				padding: 24px 0 8px

				

	.form-item__wrap
		margin-bottom: 16px

.width
	&-65
		width: 65%

	&-30
		width: 30%


#modal
	&-login
		max-width: 470px

		.form

			>.btn
				width: 100%
	&-enter

		.form
			&-item
				&__label
					label
						width: 120px

					.form-field
						width: calc(100% - 130px)

	&-address

		.form-item
			margin-bottom: 16px


	&-gift
		max-width: 1170px

		.h2
			margin-bottom: 0

		&+p
			font-size: 20px
			line-height: 22px
			letter-spacing: 0.2px
			color: #444444

		.product
			&-wrap
				margin-top: 40px
				margin-left: -15px
				margin-right: -15px


				[class^='col']
					padding-left: 15px
					padding-right: 15px

					>strong
						display: block
						margin-bottom: 16px
						font-size: 28px
						line-height: 28px
						color: #333
			&-item
				min-height: 600px

				.btn
					width: 100%
					padding-left: 10px
					padding-right: 10px

.fixed
	position: sticky
	bottom: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%
	z-index: 101
	background: rgba(255, 255, 255, 0.8)
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16)
	backdrop-filter: blur(20px)


.gift
	display: flex
	align-items: center
	justify-content: space-between
	padding: 4px 0

	&-progress
		position: absolute
		left: 0
		top: 2px
		height: 42px
		background: linear-gradient(270deg, #58A664 0%, #277176 100%)
		box-shadow: inset 0px 0px 24px rgba(255, 255, 255, 0.24)
		border-radius: 51px

	&-wrap
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
		height: 46px
		width: calc(100% - 400px)
		padding: 0 40px 0 80px
		background: #EEEEEE
		box-shadow: inset 0px 0px 24px rgba(255, 255, 255, 0.24)
		border-radius: 51px

	&-price
		position: relative
		padding: 2px 6px
		background: #FFFFFF
		border-radius: 6px
		font-weight: bold
		font-size: 20px
		line-height: 22px
		color: $main
		z-index: 10

		&:last-child
			color: #000

.promocode
	background: #fff

	&-wrap
		height: 88px
		display: flex
		align-items: center
		justify-content: space-between

	&-form
		display: flex
		align-items: center
		max-width: 400px
		width: 100%

		.form-field
			width: calc(100% - 135px)

		.btn
			position: relative
			padding-left: 40px
			padding-right: 40px
			font-weight: bold
			left: -30px
			z-index: 10

	.ruble
		font-size: 20px

	&-order
		display: flex
		flex-wrap: wrap

		&__summ
			display: flex
			align-items: center
			flex-wrap: wrap

			span
				font-weight: 600
				font-size: 24px
				line-height: 28px
				color: #251915

				&:last-child
					padding-left: 24px

		.btn
			margin-left: 64px
			padding: 18px 40px
			box-shadow: 0px 4px 0px #5E1409, 0px 16px 40px rgba(177, 61, 35, 0.4), inset 0px 0px 12px rgba(255, 255, 255, 0.24)
			

a.back-to-top
	display: none
	background: linear-gradient(180deg, #CC8E55 0%, #A9210F 100%)
	box-shadow: 0px 4px 0px #3F0E07, 0px 16px 40px rgba(177, 61, 35, 0.4), inset 0px 0px 12px rgba(255, 255, 255, 0.24)
	border-radius: 59px
	text-indent: -9999px
	position: fixed
	z-index: 999
	right: 44px
	bottom: 100px
	width: 84px
	height: 84px
	border-radius: 50%

	&:before
		content: ''
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		background-image: url("../img/up-arrow.svg")
		background-repeat: no-repeat
		background-position: center
		z-index: 1
		transition: all .3s

	&:hover
		opacity: 1

		&:befoe
			transform: slace(1.1)



















@media only screen and (max-width: 1900px)
	.header
		background-size: 15%, 15%, auto













@media only screen and (max-width: 1599px)
	
	.header
		background-size: 10%, 10%, auto

	.app-wrap
		&:before
			transform: scale(0.9)

	.bg
		&-cheesecake
			background-size: 100% 100%

	.about
		&-wrap
			&:before
				transform: scale(0.9)










@media only screen and (max-width: 1360px)
	.header
		background-size: 0, 0, auto

	.app-wrap
		&:before
			transform: scale(0.7)

	.product-wrap.row
		margin-left: -15px
		margin-right: -15px 
		[class^=col]
			padding-left: 15px
			padding-right: 15px

	.reviews

		&-slider
			padding-left: 60px
			padding-right: 60px

			.slick
				&-arrow
					width: 40px
					height: 40px

					&:before
						font-size: 18px
						left: 11px
						top: 12px

				&-prev
					left: 0

				&-next
					right: 0

	.about
		&-wrap
			&:before
				transform: scale(0.6)

			p
				max-width: 630px
				font-size: 18px

				br
					display: none

	.order
		&-total
			&:before
				display: none



















@media only screen and (max-width: 1199px)

	.burger-btn
		display: inline-block
	.header
		height: auto
		padding-bottom: 50px

	.mobile-menu
		display: block

	body
		background: #FDFAF2

	.product
		background: #FDFAF2

		&-item

			&__img

				img
					object-fit: cover
					height: 352px
					width: 100%

	.app-wrap
		&:before
			display: none

	.footer
		&-bottom
			justify-content: center
			flex-direction: column

		&-wrap
			padding: 50px 0

		&-links 
			ul 
				li 
					a
						font-size: 16px
						line-height: 20px

		&-copy
			margin-bottom: 10px

		&-dev
			margin-bottom: 10px

		&-app
			margin-bottom: 10px

	.category

		.content
			background: transparent

	.catering
		background: none

		&-item
			padding-top: 50px
			margin: 0
	
	.reviews
		&-instagram
			padding-top: 50px

	.numbers
		padding-top: 40px
	
	.about
		margin: 100px 0

	
	.inner

		&-info

			.header
				padding-bottom: 0

				&-nav
					padding: 15px

					&__btn
						padding-top: 0

			.burger-btn
				margin: 0

				span
					background: #000

		.section
			padding-top: 40px

	.promo
		&-item
			height: auto
			background: none
			overflow: visible

			.btn
				opacity: 1

			&__wrap
				position: static

			&:hover 
				.promo
					&-item
						

						&__wrap
							transform: none
							padding: 0
							background: none

	.history
		&-item
			&__body
				.col-lg-4
					width: auto
				
				.col-lg-8
					width: auto





















@media only screen and (max-width: 991px)

	.header-nav__btn
		padding-top: 10px

	.banner-item
		padding: 0 30px

		&__video
			display: none

	.footer
		&-bottom
			align-items: center

	.logo
		max-width: 150px

	.header
		&-top
			padding: 0 0 20px

	.banner
		&-item
			padding: 0 15px

			&__info
				padding: 30px 0
				height: auto

	.about-wrap:before
		display: none

	.promo
		&-item

			&__img

				img
					width: 100%

	.sidebar
		position: fixed
		left: 15px
		top: 118px
		width: 30px
		z-index: 1
		background: transparent
		border-radius: 0 16px 0 0
		border-left: 0
		border-width: 0
		backdrop-filter: blur(0)

		>*:not(.sidebar-mobile__btn)
			display: none

		&.active
			left: 15px
			top: 118px
			width: 220px
			z-index: 999
			background: #FAFAFA
			border-width: 1px

			.sidebar-mobile__btn
				display: block !important


			>*:not(.sidebar-mobile__btn)
				display: block


		&-mobile__btn
			display: block
			outline: none
			border: none
			background-color: transparent
			font-size: 30px
			color: #83584f


			&:hover, &:focus
				opacity: 1

			&.active
				position: absolute
				right: 5px
				top: -2px
				font-size: 24px
				.fa
					&::before
						content: '\f00d'

		&-menu
			padding-top: 20px

			li
				a
					display: block
					padding: 10px 20px
					font-size: 14px

	.content
		&-wrap
			display: block
			padding-top: 30px

		&-main
			width: auto
	
	.establishments 

		.product-header
			display: block

			.h2
				margin-bottom: 15px


	.basket-table
		&__info
			img
				max-width: 100px

			&--text
				strong
					font-size: 16px
					line-height: 24px

		&__col
			padding: 15px 10px

			&--price
				max-width: 100px
				font-size: 20px


			.count
				width: 90px

				&-btn
					width: 32px
					height: 32px

					span
						font-size: 22px

				input
					width: 24px
					font-size: 16px
			
	.toppings-wrap 
		[class^=col]
			width: 33.333333%

	.basket
		&-top
			display: block

			&__right
				justify-content: space-between
				padding-top: 10px

	.order
		&-table
			tr
				td
					&:first-child
						img
							display: none

						span
							padding-left: 0


	a.back-to-top
		width: 44px
		height: 44px
		right: 30px
		bottom: 30px





@media only screen and (max-width: 768px)
	.header
		height: auto
		padding-bottom: 30px

	.subscription

		&-wrap
			flex-direction: column

			span
				padding: 0 0 15px

	.h1, h1
		font-size: 32px

	.h2, h2
		font-size: 30px
		line-height: 36px

	.inner
		.section
			.h1, h1
				font-size: 30px
				line-height: 36px
	.product
		&-header
			align-items: center

	.catering
		background: none

		&-item
			display: flex
			flex-wrap: wrap

			&:nth-of-type(even)
				flex-direction: column-reverse

			[class^='col']
				width: 100%

			img
				display: block
				margin: 0 auto 15px

	.numbers
		margin-bottom: 40px
		&-item
			margin-bottom: 30px


	.about
		margin: 40px 0

	.history
		&-order
			&__name
				font-size: 16px
				line-height: 20px

	.btn
		padding: 14px 30px
		font-weight: bold
		font-size: 16px
		box-shadow: 0 2px 0 #5e1409, 0 12px 35px rgba(177,61,35,.4), inset 0 0 12px rgba(255,255,255,.24)

		&-transparent
			padding-left: 15px
			padding-right: 15px

	.basket-table
		&__info
			img
				display: none

			&--text
				strong
					font-size: 12px
					line-height: 16px

		&__col
			padding: 10px 5px

			&--price
				max-width: 80px
				font-size: 16px

	.basket-header__step
		width: 300px

	.toppings 
		.count 
			input
				width: 44px
				font-size: 20px


	.order

		&-wrap
			display: block

		&-delivery
			width: auto

		&-total
			max-width: 400px
			width: auto

			.basket-total
				padding: 20px

		

























@media only screen and (max-width: 550px)


	.banner-item__info 
		.h1
			font-size: 30px

		&--btn
			flex-direction: column
			background: transparent
			justify-content: center
			align-items: center
			display: flex
			width: 100%

			>span
				position: static
				height: 50px
				width: 100%
				padding: 0 15px
				border-radius: 76px
				text-align: center
				justify-content: center


	.header-mobile
		padding-right: 0

	.inner
		&-info
			.header-nav
				padding: 10px 15px

	.header
		&-nav
			&__btn
				a 
					span
						height: 40px
						padding: 0 16px 0 12px


		&-basket
			margin-left: 10px

			.icon-basket
				display: none

			span
				border: 0

				&:before
					display: none
	

	.logo
		transform: translate(-10px, -14px)
		max-width: 100px

	.product

		&-header
			display: block
			margin-bottom: 30px
			text-align: center

			.h2
				margin-bottom: 10px

		&-filter
			flex-wrap: wrap

			>span
				display: none

			a
				margin-bottom: 10px

				&:first-of-type
					margin: 0 0 10px

	.app
		&-wrap
			padding: 30px
			margin-bottom: 60px

		&-btn
			display: block

			a
				display: block
				margin-bottom: 10px

	.count
		width: 118px

		&-btn
			width: 32px
			height: 32px

			span
				font-size: 24px

		input
			font-size: 22px

	.promo
		margin-bottom: 50px

		&.row

			[class^='col']
				width: 100%

	.info

		&-row
			display: block

		&-item
			width: auto
			margin-bottom: 30px

			&:last-child
				padding: 0

	.bonus
		
		&-table
			min-width: 380px

			&__wrap
				overflow-x: auto
			
			thead
				tr
					td
						font-size: 12px
						padding: 12px 10px
			tbody
				tr
					td
						font-size: 12px

				tr 
					td
						padding: 12px 10px

		&-info
			display: block
		&-level
			margin-bottom: 10px

		&-chip
			font-size: 16px

	.content
		&-main
			padding-right: 15px

	.history
		&-order
			&__img
				display: none

			&__info
				width: 100%

			&__name
				 strong
				 	font-size: 16px
				 	line-height: 20px

			&__total
				font-size: 16px

				.icon
					font-size: 10px

	.address
		&-table
			&__item
				&--info
					width: calc(100% - 56px)
					padding-left: 24px

					strong
						font-size: 14px
						line-height: 20px

					.ic
						font-size: 20px

	.color-list
		&__item
			margin-bottom: 10px

	.form
		&-item
			&__wrap
				display: block
				
				.form
					&-item
						width: auto

	.toppings-wrap 
		[class^=col]
			width: 50%

	.basket-header
		padding-bottom: 20px
		display: block
		text-align: center

		&__step
			width: 290px
			margin: 10px auto 0


	.toppings
		&-wrap 
				[class^=col]
					width: 100%

		&-item
			max-width: 210px
			margin: 0 auto 20px

		.h2
			text-align: center

	.basket
		&-top
			display: block

			&__right
				flex-direction: column
				padding-top: 10px

			&__item
				margin: 0 0 10px

		&-table
			min-width: 500px

			&__wrap
				overflow-x: auto

		&-total
			padding: 15px

	


	.order-list
		padding: 24px
		margin-bottom: 30px

		li
			flex-direction: column
			margin-bottom: 10px
			font-size: 14px

			strong
				width: 100%

		
		.order-data
			padding: 0
			box-shadow: none
			border: 0



		.order-table tr td
			padding: 10px 5px
			font-size: 12px
			line-height: 16px

		.order-total
			width: auto

		.basket-total
			padding: 20px

			.btn
				padding: 12px 15px
				font-size: 15px

			&__list
				padding: 10px 0

				ul

					li
						font-size: 14px
						line-height: 16px

	.order
		&-data
			padding: 15px

		&-table
			tr
				td
					padding: 5px 5px
					font-size: 12px
					line-height: 13px

	.modal
		padding: 24px




















@media only screen and (max-width: 370px)
	
	.banner-item__info--btn 
		.btn
			padding: 14px 0
			width: 100%
			justify-content: center

	.header
		&-login
			.icon-user
				display: none

			span
				border: 0

				&:before
					display: none

		&-nav
			&__btn 
				a 
					span
						font-size: 14px



	.product
		&-item
			min-height: auto
			&__price
				width: calc(100% - 118px)

				&--current
					font-size: 26px

				&--new
					font-size: 26px

			&__btn
				.btn
					padding: 12px 35px
					font-size: 16px

	.btn
		&-black
			padding: 16px 20px
			font-size: 14px

	.establishments-item__address
		font-size: 16px

	.form
		&-item
			&__code
				display: block

				.form-item
					width: 100%
					margin-bottom: 24px

			&__label
				display: block

				label
					display: block
					margin-bottom: 10px

				.form-field
					width: 100%

	#modal-enter .form-item__label .form-field
		width: 100%

	.modal

		.form-label
			left: 10px
			font-size: 12px

		&-after
			.btn
				font-size: 14px